<div>
  <h2 id="page-heading" data-cy="CounterInfoHeading">
    <span jhiTranslate="jewelsysApp.counterInfo.home.title">Counter Infos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jewelsysApp.counterInfo.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-counter-info"
        [routerLink]="['/counter-info/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jewelsysApp.counterInfo.home.createLabel"> Create a new Counter Info </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="counterInfos?.length === 0">
    <span jhiTranslate="jewelsysApp.counterInfo.home.notFound">No counterInfos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="counterInfos && counterInfos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="counterNo">
            <span jhiTranslate="jewelsysApp.counterInfo.counterNo">Counter No</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="counterName">
            <span jhiTranslate="jewelsysApp.counterInfo.counterName">Counter Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="delFlg">
            <span jhiTranslate="jewelsysApp.counterInfo.delFlg">Del Flg</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="shopInfo.shopCode">
            <span jhiTranslate="jewelsysApp.counterInfo.shopInfo">Shop Info</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let counterInfo of counterInfos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/counter-info', counterInfo.id, 'view']">{{ counterInfo.id }}</a>
          </td>
          <td>{{ counterInfo.counterNo }}</td>
          <td>{{ counterInfo.counterName }}</td>
          <td>{{ counterInfo.delFlg }}</td>
          <td>
            <div *ngIf="counterInfo.shopInfo">
              <a [routerLink]="['/shop-info', counterInfo.shopInfo?.id, 'view']">{{ counterInfo.shopInfo?.shopCode }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/counter-info', counterInfo.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/counter-info', counterInfo.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(counterInfo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="counterInfos && counterInfos.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
