<div>
  <h2 id="page-heading" data-cy="MenuHeading">
    <span jhiTranslate="jewelsysApp.menu.home.title">Menus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jewelsysApp.menu.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-menu"
        [routerLink]="['/menu/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jewelsysApp.menu.home.createLabel"> Create a new Menu </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="menus?.length === 0">
    <span jhiTranslate="jewelsysApp.menu.home.notFound">No menus found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="menus && menus.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="menuCode">
            <span jhiTranslate="jewelsysApp.menu.menuCode">Menu Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="menuName">
            <span jhiTranslate="jewelsysApp.menu.menuName">Menu Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="routerLink">
            <span jhiTranslate="jewelsysApp.menu.routerLink">Router Link</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status"><span jhiTranslate="jewelsysApp.menu.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="menuGroup.name">
            <span jhiTranslate="jewelsysApp.menu.menuGroup">Menu Group</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menu of menus; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/menu', menu.id, 'view']">{{ menu.id }}</a>
          </td>
          <td>{{ menu.menuCode }}</td>
          <td>{{ menu.menuName }}</td>
          <td>{{ menu.routerLink }}</td>
          <td jhiTranslate="{{ 'jewelsysApp.MenuStatus.' + menu.status }}">{{ menu.status }}</td>
          <td>
            <div *ngIf="menu.menuGroup">
              <a [routerLink]="['/menu-group', menu.menuGroup?.id, 'view']">{{ menu.menuGroup?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/menu', menu.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/menu', menu.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(menu)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="menus && menus.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
