<div>
  <h2 id="page-heading" data-cy="GoldItemGroupHeading">
    <span jhiTranslate="jewelsysApp.goldItemGroup.home.title">Gold Item Groups</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jewelsysApp.goldItemGroup.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-gold-item-group"
        [routerLink]="['/gold-item-group/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jewelsysApp.goldItemGroup.home.createLabel"> Create a new Gold Item Group </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="goldItemGroups?.length === 0">
    <span jhiTranslate="jewelsysApp.goldItemGroup.home.notFound">No goldItemGroups found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="goldItemGroups && goldItemGroups.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="code">
            <span jhiTranslate="jewelsysApp.goldItemGroup.code">Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="jewelsysApp.goldItemGroup.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="delFlg">
            <span jhiTranslate="jewelsysApp.goldItemGroup.delFlg">Del Flg</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="goldType.name">
            <span jhiTranslate="jewelsysApp.goldItemGroup.goldType">Gold Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let goldItemGroup of goldItemGroups; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/gold-item-group', goldItemGroup.id, 'view']">{{ goldItemGroup.id }}</a>
          </td>
          <td>{{ goldItemGroup.code }}</td>
          <td>{{ goldItemGroup.name }}</td>
          <td>{{ goldItemGroup.delFlg }}</td>
          <td>
            <div *ngIf="goldItemGroup.goldType">
              <a [routerLink]="['/gold-type', goldItemGroup.goldType?.id, 'view']">{{ goldItemGroup.goldType?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/gold-item-group', goldItemGroup.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/gold-item-group', goldItemGroup.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(goldItemGroup)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="goldItemGroups && goldItemGroups.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
