<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="gemsItem">
      <h2 data-cy="gemsItemDetailsHeading"><span jhiTranslate="jewelsysApp.gemsItem.detail.title">Gems Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ gemsItem.id }}</span>
        </dd>
        <dt><span jhiTranslate="jewelsysApp.gemsItem.code">Code</span></dt>
        <dd>
          <span>{{ gemsItem.code }}</span>
        </dd>
        <dt><span jhiTranslate="jewelsysApp.gemsItem.name">Name</span></dt>
        <dd>
          <span>{{ gemsItem.name }}</span>
        </dd>
        <dt><span jhiTranslate="jewelsysApp.gemsItem.delFlg">Del Flg</span></dt>
        <dd>
          <span>{{ gemsItem.delFlg }}</span>
        </dd>
        <dt><span jhiTranslate="jewelsysApp.gemsItem.gemsType">Gems Type</span></dt>
        <dd>
          <div *ngIf="gemsItem.gemsType">
            <a [routerLink]="['/gems-type', gemsItem.gemsType?.id, 'view']">{{ gemsItem.gemsType?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/gems-item', gemsItem.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
