<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-mortgage-entry-heading"
        data-cy="MortgageEntryCreateUpdateHeading"
        jhiTranslate="jewelsysApp.mortgageEntry.home.createOrEditLabel"
      >
        Create or edit a Mortgage Entry
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
          <div *ngIf="editForm.get('address')!.invalid && (editForm.get('address')!.dirty || editForm.get('address')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('address')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.phone" for="field_phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.groupCode" for="field_groupCode">Group Code</label>
          <select
            (change)="onItemGroupChange()"
            class="form-control"
            name="groupCode"
            formControlName="groupCode"
            id="field_groupCode"
            data-cy="groupCode"
          >
            <option [ngValue]="null">{{ 'jewelsysApp.MortgageItemGroup.null' | translate }}</option>
            <option value="G01">{{ 'jewelsysApp.MortgageItemGroup.G01' | translate }}</option>
            <option value="G02">{{ 'jewelsysApp.MortgageItemGroup.G02' | translate }}</option>
            <option value="G03">{{ 'jewelsysApp.MortgageItemGroup.G03' | translate }}</option>
            <option value="G04">{{ 'jewelsysApp.MortgageItemGroup.G04' | translate }}</option>
            <option value="G05">{{ 'jewelsysApp.MortgageItemGroup.G05' | translate }}</option>
            <option value="G06">{{ 'jewelsysApp.MortgageItemGroup.G06' | translate }}</option>
            <option value="G07">{{ 'jewelsysApp.MortgageItemGroup.G07' | translate }}</option>
            <option value="G08">{{ 'jewelsysApp.MortgageItemGroup.G08' | translate }}</option>
            <option value="G09">{{ 'jewelsysApp.MortgageItemGroup.G09' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('groupCode')!.invalid && (editForm.get('groupCode')!.dirty || editForm.get('groupCode')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('groupCode')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.itemCode" for="field_itemCode">Item Code</label>
          <select class="form-control" id="field_itemCode" data-cy="itemCode" name="itemCode" formControlName="itemCode">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="mortgageItem.code === editForm.get('itemCode')!.value ? editForm.get('itemCode')!.value : mortgageItem.code"
              *ngFor="let mortgageItem of mortgageItemCollection; trackBy: trackMortgageItemByCode"
            >
              {{ mortgageItem.itemName }}
            </option>
          </select>
          <div *ngIf="editForm.get('itemCode')!.invalid && (editForm.get('itemCode')!.dirty || editForm.get('itemCode')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('itemCode')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.damageType" for="field_damageType">Damage Type</label>
          <select class="form-control" name="damageType" formControlName="damageType" id="field_damageType" data-cy="damageType">
            <option [ngValue]="null">{{ 'jewelsysApp.MortgageDamageType.null' | translate }}</option>
            <option value="DT01">{{ 'jewelsysApp.MortgageDamageType.DT01' | translate }}</option>
            <option value="DT02">{{ 'jewelsysApp.MortgageDamageType.DT02' | translate }}</option>
            <option value="DT03">{{ 'jewelsysApp.MortgageDamageType.DT03' | translate }}</option>
            <option value="DT04">{{ 'jewelsysApp.MortgageDamageType.DT04' | translate }}</option>
            <option value="DT05">{{ 'jewelsysApp.MortgageDamageType.DT05' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.wInKyat" for="field_wInKyat">W In Kyat</label>
          <input type="number" class="form-control" name="wInKyat" id="field_wInKyat" data-cy="wInKyat" formControlName="wInKyat" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.wInPae" for="field_wInPae">W In Pae</label>
          <input type="number" class="form-control" name="wInPae" id="field_wInPae" data-cy="wInPae" formControlName="wInPae" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.wInYway" for="field_wInYway">W In Yway</label>
          <input type="number" class="form-control" name="wInYway" id="field_wInYway" data-cy="wInYway" formControlName="wInYway" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.principalAmount" for="field_principalAmount"
            >Principal Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="principalAmount"
            id="field_principalAmount"
            data-cy="principalAmount"
            formControlName="principalAmount"
          />
          <div
            *ngIf="
              editForm.get('principalAmount')!.invalid &&
              (editForm.get('principalAmount')!.dirty || editForm.get('principalAmount')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('principalAmount')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('principalAmount')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.startDate" for="field_startDate">Start Date</label>
          <div class="d-flex">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="datetime-local"
              class="form-control"
              name="startDate"
              formControlName="startDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('startDate')!.invalid && (editForm.get('startDate')!.dirty || editForm.get('startDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('startDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('startDate')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.interestRate" for="field_interestRate"
            >Interest Rate</label
          >
          <input
            type="number"
            class="form-control"
            name="interestRate"
            id="field_interestRate"
            data-cy="interestRate"
            formControlName="interestRate"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.term" for="field_term">Term</label>
          <input type="number" class="form-control" name="term" id="field_term" data-cy="term" formControlName="term" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.delFlg" for="field_delFlg">Del Flg</label>
          <input type="text" class="form-control" name="delFlg" id="field_delFlg" data-cy="delFlg" formControlName="delFlg" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
