<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="goldType">
      <h2 data-cy="goldTypeDetailsHeading"><span jhiTranslate="jewelsysApp.goldType.detail.title">Gold Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ goldType.id }}</span>
        </dd>
        <dt><span jhiTranslate="jewelsysApp.goldType.code">Code</span></dt>
        <dd>
          <span>{{ goldType.code }}</span>
        </dd>
        <dt><span jhiTranslate="jewelsysApp.goldType.name">Name</span></dt>
        <dd>
          <span>{{ goldType.name }}</span>
        </dd>
        <dt><span jhiTranslate="jewelsysApp.goldType.delFlg">Del Flg</span></dt>
        <dd>
          <span>{{ goldType.delFlg }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/gold-type', goldType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
