<div class="row justify-content-center">
  <div class="col-12">
    <div *ngIf="mortgageEntry">
      <h2 data-cy="mortgageEntryDetailsHeading"><span jhiTranslate="jewelsysApp.mortgageEntry.detail.title">Mortgage Entry</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="row mb-3">
        <div class="col-2">
          <span style="font-weight:bold" jhiTranslate="global.field.id">ID</span>
        </div>
        <div class="col-4">
          <span>{{ mortgageEntry.id }}</span>
        </div>
        <div class="col-2">
          <span style="font-weight:bold" jhiTranslate="jewelsysApp.mortgageEntry.mStatus">Status</span>
        </div>
        <div class="col-4">
          <span>{{ mortgageEntry.mortStatusDesc }}</span>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-2">
          <span style="font-weight:bold" jhiTranslate="jewelsysApp.mortgageEntry.name">Name</span>
        </div>
        <div class="col-4">
          <span>{{ mortgageEntry.name }}</span>
        </div>
        <div class="col-2">
          <span style="font-weight:bold" jhiTranslate="jewelsysApp.mortgageEntry.startDate">Start Date</span>
        </div>
        <div class="col-4">
          <span>{{ mortgageEntry.startDate ? mortgageEntry.startDate.format('DD-MM-YYYY') : '-' }}</span>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-2">
          <span style="font-weight:bold" jhiTranslate="jewelsysApp.mortgageEntry.phone">Phone</span>
        </div>
        <div class="col-4">
          {{ mortgageEntry.phone }}
        </div>
        <div class="col-2">
          <span style="font-weight:bold" jhiTranslate="jewelsysApp.mortgageEntry.principalAmount">Principal Amount</span>
        </div>
        <div class="col-4">
          {{ mortgageEntry.principalAmount }}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-2">
          <span style="font-weight:bold" jhiTranslate="jewelsysApp.mortgageEntry.groupCode">Group Code</span>
        </div>
        <div class="col-4">
          <span jhiTranslate="{{ 'jewelsysApp.MortgageItemGroup.' + mortgageEntry.groupCode }}">{{ mortgageEntry.groupCode }}</span>
        </div>
        <div class="col-2">
          <span style="font-weight:bold" jhiTranslate="jewelsysApp.mortgageEntry.interestRate">Interest Rate</span>
        </div>
        <div class="col-4">
          {{ mortgageEntry.interestRate }}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-2">
          <span style="font-weight:bold" jhiTranslate="jewelsysApp.mortgageEntry.itemCode">Item</span>
        </div>
        <div class="col-4">
          {{ mortgageEntry.itemName }}
        </div>
        <div class="col-2">
          <span style="font-weight:bold" jhiTranslate="jewelsysApp.mortgageEntry.mmYear">Mm Year</span>
        </div>
        <div class="col-4">
          {{ mortgageEntry.mmYearDesc }}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-2">
          <span style="font-weight:bold" jhiTranslate="jewelsysApp.mortgageEntry.damageType">Damage Type</span>
        </div>
        <div class="col-4">
          <span jhiTranslate="{{ 'jewelsysApp.MortgageDamageType.' + mortgageEntry.damageType }}">{{ mortgageEntry.damageType }}</span>
        </div>
        <div class="col-2">
          <span style="font-weight:bold" jhiTranslate="jewelsysApp.mortgageEntry.mmMonth">Mm Month</span>
        </div>
        <div class="col-4">
          {{ mortgageEntry.mmMonthDesc }}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-2">
          <span style="font-weight:bold" jhiTranslate="jewelsysApp.mortgageEntry.weight">Weight</span>
        </div>
        <div class="col-4">
          <div class="row col-12">
            <div>
              <span *ngIf="mortgageEntry.wInKyat"> {{ mortgageEntry.wInKyat }} &nbsp;-&nbsp;</span>
            </div>
            <div>
              <span *ngIf="mortgageEntry.wInKyat" jhiTranslate="jewelsysApp.mortgageEntry.wInKyat">Kyat</span>
            </div>
            <div>
              <span *ngIf="mortgageEntry.wInPae"> &nbsp; {{ mortgageEntry.wInPae }} &nbsp;-&nbsp;</span>
            </div>
            <div>
              <span *ngIf="mortgageEntry.wInPae" jhiTranslate="jewelsysApp.mortgageEntry.wInPae">Pae</span>
            </div>
            <div>
              <span *ngIf="mortgageEntry.wInYway"> &nbsp; {{ mortgageEntry.wInYway }} &nbsp;-&nbsp;</span>
            </div>
            <div>
              <span *ngIf="mortgageEntry.wInYway" jhiTranslate="jewelsysApp.mortgageEntry.wInYway">Yway</span>
            </div>
          </div>
        </div>
        <div class="col-2">
          <span style="font-weight:bold" jhiTranslate="jewelsysApp.mortgageEntry.mmDay">Day</span>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-6">
              {{ mortgageEntry.mmDayGRDesc }} {{ mortgageEntry.mmDayDesc }}
            </div>
            <div class="col-6">
              
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-2">
          <span style="font-weight:bold" jhiTranslate="jewelsysApp.mortgageEntry.address">Address</span>
        </div>
        <div class="col-10">
          <span>{{ mortgageEntry.address }}</span>
        </div>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/mortgage-entry', mortgageEntry.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>

    </div>

  </div>
</div>
