<div class="justify-content-center">
  <h2 data-cy="mortgageRedemptionHeading"><span jhiTranslate="jewelsysApp.mortgageRedemption.home.title">Mortgage Redemption</span></h2>
  <div class="col-12">
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <form name="redemptionForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="redemptionForm" autocomplete="off">
      <div *ngIf="mortgageEntry">
        <div class="row mb-3">
          <div class="col-2">
            <span style="font-weight: bold" jhiTranslate="global.field.id">ID</span>
          </div>
          <div class="col-4">
            <span>{{ mortgageEntry.id }}</span>
          </div>
          <div class="col-2">
            <span style="font-weight: bold" jhiTranslate="jewelsysApp.mortgageEntry.mStatus">Status</span>
          </div>
          <div class="col-4">
            <span>{{ mortgageEntry.mortStatusDesc }}</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-2">
            <span style="font-weight: bold" jhiTranslate="jewelsysApp.mortgageEntry.name">Name</span>
          </div>
          <div class="col-4">
            <span>{{ mortgageEntry.name }}</span>
          </div>
          <div class="col-2">
            <span style="font-weight: bold" jhiTranslate="jewelsysApp.mortgageEntry.startDate">Start Date</span>
          </div>
          <div class="col-4">
            <span>{{ mortgageEntry.startDate ? mortgageEntry.startDate.format('DD-MM-YYYY') : '-' }}</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-2">
            <span style="font-weight: bold" jhiTranslate="jewelsysApp.mortgageEntry.phone">Phone</span>
          </div>
          <div class="col-4">
            {{ mortgageEntry.phone }}
          </div>
          <div class="col-2">
            <span style="font-weight: bold" jhiTranslate="jewelsysApp.mortgageEntry.principalAmount">Principal Amount</span>
          </div>
          <div class="col-4">
            {{ mortgageEntry.principalAmount }}
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-2">
            <span style="font-weight: bold" jhiTranslate="jewelsysApp.mortgageEntry.groupCode">Group Code</span>
          </div>
          <div class="col-4">
            <span jhiTranslate="{{ 'jewelsysApp.MortgageItemGroup.' + mortgageEntry.groupCode }}">{{ mortgageEntry.groupCode }}</span>
          </div>
          <div class="col-2">
            <span style="font-weight: bold" jhiTranslate="jewelsysApp.mortgageEntry.interestRate">Interest Rate</span>
          </div>
          <div class="col-4">
            {{ mortgageEntry.interestRate }}
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-2">
            <span style="font-weight: bold" jhiTranslate="jewelsysApp.mortgageEntry.itemCode">Item</span>
          </div>
          <div class="col-4">
            {{ mortgageEntry.itemName }}
          </div>
          <div class="col-2">
            <span style="font-weight: bold" jhiTranslate="jewelsysApp.mortgageEntry.mmYear">Mm Year</span>
          </div>
          <div class="col-4">
            {{ mortgageEntry.mmYearDesc }}
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-2">
            <span style="font-weight: bold" jhiTranslate="jewelsysApp.mortgageEntry.damageType">Damage Type</span>
          </div>
          <div class="col-4">
            <span jhiTranslate="{{ 'jewelsysApp.MortgageDamageType.' + mortgageEntry.damageType }}">{{ mortgageEntry.damageType }}</span>
          </div>
          <div class="col-2">
            <span style="font-weight: bold" jhiTranslate="jewelsysApp.mortgageEntry.mmMonth">Mm Month</span>
          </div>
          <div class="col-4">
            {{ mortgageEntry.mmMonthDesc }}
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-2">
            <span style="font-weight: bold" jhiTranslate="jewelsysApp.mortgageEntry.weight">Weight</span>
          </div>
          <div class="col-4">
            <div class="row col-12">
              <div>
                <span *ngIf="mortgageEntry.wInKyat"> {{ mortgageEntry.wInKyat }} &nbsp;-&nbsp;</span>
              </div>
              <div>
                <span *ngIf="mortgageEntry.wInKyat" jhiTranslate="jewelsysApp.mortgageEntry.wInKyat">Kyat</span>
              </div>
              <div>
                <span *ngIf="mortgageEntry.wInPae"> &nbsp; {{ mortgageEntry.wInPae }} &nbsp;-&nbsp;</span>
              </div>
              <div>
                <span *ngIf="mortgageEntry.wInPae" jhiTranslate="jewelsysApp.mortgageEntry.wInPae">Pae</span>
              </div>
              <div>
                <span *ngIf="mortgageEntry.wInYway"> &nbsp; {{ mortgageEntry.wInYway }} &nbsp;-&nbsp;</span>
              </div>
              <div>
                <span *ngIf="mortgageEntry.wInYway" jhiTranslate="jewelsysApp.mortgageEntry.wInYway">Yway</span>
              </div>
            </div>
          </div>
          <div class="col-2">
            <span style="font-weight: bold" jhiTranslate="jewelsysApp.mortgageEntry.mmDay">Day</span>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-6">{{ mortgageEntry.mmDayGRDesc }} {{ mortgageEntry.mmDayDesc }}</div>
              <div class="col-6"></div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-2">
            <span style="font-weight: bold" jhiTranslate="jewelsysApp.mortgageEntry.address">Address</span>
          </div>
          <div class="col-10">
            <span>{{ mortgageEntry.address }}</span>
          </div>
        </div>
      </div>

      <h4 data-cy="mortgageRedemptionEntryHeading">
        <span jhiTranslate="jewelsysApp.mortgageRedemption.home.entryTitle">Redemption Data</span>
      </h4>
      <hr />

      <div class="row form-group">
        <div class="col-2">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageRedemption.interestAmount" for="field_interestAmount"
            >Interest Amount</label
          >
        </div>
        <div class="col-4">
          <input
            type="text"
            class="form-control"
            name="interestAmount"
            id="field_interestAmount"
            data-cy="interestAmount"
            formControlName="interestAmount"
          />
          <div
            *ngIf="
              redemptionForm.get('interestAmount')!.invalid &&
              (redemptionForm.get('interestAmount')!.dirty || redemptionForm.get('interestAmount')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="redemptionForm.get('interestAmount')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
        <div class="col-2">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.mmYear" for="field_mmYear">Mm Year</label>
        </div>
        <div class="col-4">
          <select
            (change)="onMMYearChange()"
            class="form-control"
            id="field_mrMMYear"
            data-cy="mrMMYear"
            name="mrMMYear"
            formControlName="mrMMYear"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                mmYearData.categoryCode === redemptionForm.get('mrMMYear')!.value
                  ? redemptionForm.get('mrMMYear')!.value
                  : mmYearData.categoryCode
              "
              *ngFor="let mmYearData of mmYearCollection; trackBy: trackCategoryByCode"
            >
              {{ mmYearData.categoryDesc }}
            </option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-2">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageRedemption.mrDate" for="field_mrDate">Date</label>
        </div>

        <div class="col-4 input-group">
          <input
            class="form-control"
            id="field_mrDate"
            data-cy="mrDate"
            placeholder="DD-MM-YYYY"
            name="mrDate"
            formControlName="mrDate"
            ngbDatepicker
            #date="ngbDatepicker"
          />
          <div class="input-group-append">
            <button id="mrDateButton" (click)="date.toggle()" type="button">
              <fa-icon icon="calendar" [fixedWidth]="true"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="redemptionForm.get('mrDate')!.invalid && (redemptionForm.get('mrDate')!.dirty || redemptionForm.get('mrDate')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="redemptionForm.get('mrDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!redemptionForm.get('mrDate')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>
        <div class="col-2">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.mmMonth" for="field_mrMMMonth">Mm Month</label>
        </div>
        <div class="col-4">
          <select class="form-control" id="field_mrMMMonth" data-cy="mrMMMonth" name="mrMMMonth" formControlName="mrMMMonth">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                mmMonthData.categoryCode === redemptionForm.get('mrMMMonth')!.value
                  ? redemptionForm.get('mrMMMonth')!.value
                  : mmMonthData.categoryCode
              "
              *ngFor="let mmMonthData of mmMonthCollection; trackBy: trackCategoryByCode"
            >
              {{ mmMonthData.categoryDesc }}
            </option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-2">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageRedemption.mrTime" for="field_mrTime">Time</label>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" name="mrTime" id="field_mrTime" data-cy="mrTime" formControlName="mrTime" />
          <div
            *ngIf="redemptionForm.get('mrTime')!.invalid && (redemptionForm.get('mrTime')!.dirty || redemptionForm.get('mrTime')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="redemptionForm.get('mrTime')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
        <div class="col-2">
          <label class="form-control-label" jhiTranslate="jewelsysApp.mortgageEntry.mmDay" for="field_mrMMDayGR">Mm Day</label>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-6">
              <select class="form-control" id="field_mrMMDayGR" data-cy="mrMMDayGR" name="mrMMDayGR" formControlName="mrMMDayGR">
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="
                    mmDayGroupData.categoryCode === redemptionForm.get('mrMMDayGR')!.value
                      ? redemptionForm.get('mrMMDayGR')!.value
                      : mmDayGroupData.categoryCode
                  "
                  *ngFor="let mmDayGroupData of mmDayGroupCollection; trackBy: trackCategoryByCode"
                >
                  {{ mmDayGroupData.categoryDesc }}
                </option>
              </select>
            </div>
            <div class="col-6">
              <select class="form-control" id="field_mrMMDay" data-cy="mrMMDay" name="mrMMDay" formControlName="mrMMDay">
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="
                    mmDayData.categoryCode === redemptionForm.get('mrMMDay')!.value
                      ? redemptionForm.get('mrMMDay')!.value
                      : mmDayData.categoryCode
                  "
                  *ngFor="let mmDayData of mmDayCollection; trackBy: trackCategoryByCode"
                >
                  {{ mmDayData.categoryDesc }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="redemptionForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
